<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Champagne</string>
		<key>sectionItems</key>
		<array>
			<dict>
				<key>title</key>
				<string>Brand Uno</string>
				<key>items</key>
				<array>
					<dict>
						<key>sku</key>
						<string>987654321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>125231534</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>325125532</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>234235153</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>235152315</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>123214</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>235152152</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>124125124</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>124124135</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>324242341</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>231423442</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>324142151</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>235215321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>321513252</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>234124215</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>234123512</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>123124512</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>124124125</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>123141245</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Brand 2</string>
				<key>items</key>
				<array>
					<dict>
						<key>sku</key>
						<string>987654321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>125231534</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>325125532</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>531532523</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Brand 3</string>
				<key>items</key>
				<array>
					<dict>
						<key>sku</key>
						<string>987654321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>125231534</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>325125532</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>531532523</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Rum</string>
		<key>sectionItems</key>
		<array>
			<dict>
				<key>title</key>
				<string>Brand Uno</string>
				<key>items</key>
				<array>
					<dict>
						<key>sku</key>
						<string>987654321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>125231534</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>325125532</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>531532523</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Brand Uno</string>
				<key>items</key>
				<array>
					<dict>
						<key>sku</key>
						<string>987654321</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>125231534</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>325125532</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
					<dict>
						<key>sku</key>
						<string>531532523</string>
						<key>title</key>
						<string>Drink 1</string>
						<key>price</key>
						<integer>3000</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
